{{$img := .Get "img"}}
{{$srccode := .Get "srccode"}}
{{$play := .Get "play"}}
{{$devlog := .Get "devlog"}}
{{$trailer := .Get "trailer"}}
{{$gameplay := .Get "gameplay"}}

<div>
  <!-- <div style="display: flex; flex-flow: row nowrap;column-gap: 20px;"> -->
    <h2 style="align-self: center; margin-left: 0px; width:auto;margin-right: 0px;">{{ .Get "name" }}</h2>
    <h4 style="align-self: center; margin: 0px;">{{ .Get "date" }}</h4>
  <!-- </div> -->
  <div style="display: flex; flex-flow: row wrap; column-gap: 20px;">
    <div style="flex: 2 1 420px">
      <h3>{{ .Get "role" }}</h3>
      <p style="text-align: left;">
        {{ .Get "desc" }}
      </p>
      <div style="margin-bottom:20px;">
      {{ with .Get "trailer" }} <a href="{{ $trailer }}" style=" background-color: #d6d6d6; border-radius: 8px; padding: 10px; box-shadow:none;margin-right:10px;"> <b>Trailer</b> </a> {{ end }}
      {{ with .Get "gameplay" }} <a href="{{ $gameplay }}" style=" background-color: #d6d6d6; border-radius: 8px; padding: 10px;box-shadow:none;margin-right:10px;"> <b>Gameplay</b> </a> {{ end }}
      {{ with .Get "play" }} <a href="{{ $play }}" style=" background-color: #5dec9d; border-radius: 8px; padding: 10px;box-shadow:none;margin-right:10px;"> <b>Download</b> </a> {{ end }}
      {{ with .Get "srccode"}} <a href="{{ $srccode }}" style=" background-color: #d6d6d6; border-radius: 8px; padding: 10px;box-shadow:none;margin-right:10px;"> <b>Source Code</b> </a> {{ end }}
      {{ with .Get "devlog" }} <a href="{{ $devlog }}" style=" background-color: #d6d6d6; border-radius: 8px; padding: 10px;box-shadow:none;margin-right:10px;"> <b>Devlogs</b> </a> {{ end }}
      </div>
    </div>
    <div style="flex: 2 1 auto; align-self: center">
      <img style="width: 250px; height: auto; margin: 0px" src="{{ $img }}" alt="Huh? CloudFlare? Hello?" />
    </div>
  </div>
</div>
